<div id="pad-wrapper" class="datatables-page">

	<%= render 'widgets/filters', with_assignee: false %>

	<div class="row">
		<div class="col-md-12">
		  <div class="panel panel-default">
		    <div class="panel-heading">Distribución Causas de No Cumplimiento</div>
		    <div class="panel-body">
		    	<% data = ::Project.find(params[:id]).cnc_per_type(params) %>
		    	<% data_acumulated = ::Project.find(params[:id]).cnc_per_type %>
		    	<% if data.empty? %>
		    		<center><h4>No existen datos para los filtros seleccionados</h4></center>
		    	<% else %>
		    		<div class="row">
							<div class="col-md-6">
				      	<%= pie_chart data,
				      		library: {
				      			title: { text: "% CNC - Período" },
				      			tooltip: {
				      				valueDecimals: 0,
				      				useHTML: true,
						          pointFormat: '<b>{point.percentage:.1f}%</b><small> (Frecuencia: {point.y} {point.name})</small>'
						        }
				      		}
				      	%>
				      </div>
				      <div class="col-md-6">
				      	<%= pie_chart data_acumulated,
				      		library: {
				      			title: { text: "% CNC - Acumulado" },
				      			tooltip: {
				      				valueDecimals: 0,
				      				useHTML: true,
						          pointFormat: '<b>{point.percentage:.1f}%</b><small> (Frecuencia: {point.y} {point.name})</small>'
						        }
				      		}
				      	%>
				      </div>
				    </div>
				    <div class="row">
							<div class="col-md-12">
				      	<%= column_chart data,
					      	library: {
					      		title: { text: "Frecuencia CNC" },
					      		#yAxis: { max: 110 },
					      		tooltip: {
					            shared: true,
					            useHTML: true,
					            headerFormat: '<small>{point.key}</small><table>',
					            pointFormat: '<tr><td style="color: {series.color}">CNC: </td>' +
					                '<td style="text-align: right"><b>{point.y}</b></td></tr>',
					            footerFormat: '</table>',
					            valueDecimals: 0
						        }
					      	}
					      %>
					    </div>
					  </div>
		      <% end %>
		    </div>
		  </div>
		</div>
	</div>
</div>
