<div id="pad-wrapper" class="datatables-page">

	<%= render 'widgets/filters', with_assignee: true %>

	<div class="row">
		<div class="col-md-12">
		  <div class="panel panel-default">
		    <div class="panel-heading">Porcentaje Cumplimiento Restricciones - Por Semana</div>
		    <div class="panel-body">
		    	<% data = ::Project.find(params[:id]).pcr_per_week(params) %>
		    	<% if data.empty? %>
		    		<center><h4>No existen datos para los filtros seleccionados</h4></center>
		    	<% else %>
			      <%= line_chart data,
			      	library: {
			      		title: { text: "% PCR Semanal" },
			      		yAxis: { max: 100 },
			      		tooltip: {
			            shared: true,
			            useHTML: true,
			            headerFormat: '<small>{point.key}</small><table>',
			            pointFormat: '<tr><td style="color: {series.color}">PCR: </td>' +
			                '<td style="text-align: right"><b>{point.y} %</b></td></tr>',
			            footerFormat: '</table>',
			            xDateFormat: '%e %b, %Y', #%H:%M %d-%m-%Y
			            valueDecimals: 0
				        }
			      	}
			     	%>
			    <% end %>
		    </div>
		  </div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-12">
		  <div class="panel panel-default">
		    <div class="panel-heading">Porcentaje Cumplimiento Restricciones - Por Profesional</div>
		    <div class="panel-body">
		    	<% data = ::Project.find(params[:id]).pcr_per_user(params) %>
		    	<% if data.empty? %>
		    		<center><h4>No existen datos para los filtros seleccionados</h4></center>
		    	<% else %>
			      <%= column_chart [
							  { name: "Período", data: data },
							  { name: "Acumulado", data: ::Project.find(params[:id]).pcr_per_user }
							],
			      	library: {
			      		title: { text: "% PCR Semanal" },
			      		yAxis: { max: 100 },
			      		tooltip: {
			            shared: true,
			            useHTML: true,
			            headerFormat: '<small>{point.key}</small><table>',
			            pointFormat: '<tr><td style="color: {series.color}">PCR {series.name}: </td>' +
			                '<td style="text-align: right"><b>{point.y} %</b></td></tr>',
			            footerFormat: '</table>',
			            xDateFormat: '%e %b, %Y', #%H:%M %d-%m-%Y
			            valueDecimals: 0
				        }
			      	}
			     	%>
			    <% end %>
		    </div>
		  </div>
		</div>
	</div>
</div>