<div id="pad-wrapper" class="datatables-page">

  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">Listado de Restricciones</div>
        <div class="panel-body">
          <table id="example">
            <thead>
              <tr>
                <th tabindex="0" rowspan="1" colspan="1">Nombre
                </th>
                <th tabindex="0" rowspan="1" colspan="1" class="center">Responsable
                </th>
                <th tabindex="0" rowspan="1" colspan="1" class="center">Tarea Relacionada
                </th>
                <th tabindex="0" rowspan="1" colspan="1" class="center">Estado
                </th>
                <th tabindex="0" rowspan="1" colspan="1" class="center">Tipo
                </th>
                <th tabindex="0" rowspan="1" colspan="1" class="center">Fecha Comprometida
                </th>
              </tr>
            </thead>

            <!-- <tfoot>
              <tr>
                  <th rowspan="1" colspan="1">Nombre</th>
                  <th rowspan="1" colspan="1">Responsable</th>
                  <th rowspan="1" colspan="1">Tarea</th>
                  <th rowspan="1" colspan="1">Estado</th>
                  <th rowspan="1" colspan="1">Tipo</th>
                  <th rowspan="1" colspan="1">Fecha Comprometida</th>
              </tr>
            </tfoot> -->

            <tbody>
              <% ::Project.find(params[:id]).constraints.each do |c| %>
                <tr>
                    <td><%= c.name %></td>
                    <td class="center"><%= c.assignee.username %></td>
                    <td class="center"><%= c.task.name %></td>
                    <td class="center">
                      <% if c.completed %>
                        <span class="label label-success"><%= c.status %></span>
                      <% else %>
                        <span class="label label-danger"><%= c.status %></span>
                      <% end %>
                    </td>
                    <td class="center"><%= c.constraint_type %></td>
                    <td class="center"><%= c.due_date %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>

</div>

<script type="text/javascript">
  $(document).ready(function() {
    $('#example').dataTable({
      "sPaginationType": "full_numbers",
      "pageLength": 5,
      "language": {
        "lengthMenu": "", //"Mostrando _MENU_ resultados por página"
        "zeroRecords": "Ningún resultado encontrado",
        "info": "Mostrando página _PAGE_ de _PAGES_",
        "infoEmpty": "Sin información disponible",
        "infoFiltered": "(_TOTAL_ resultados encontrados)", //de _MAX_ en total
        "sSearch": "Buscar: ",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        }
      }
    });
  });
</script>